<div class="table-responsive">          
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Book Id</th>
        <th>IssueDate</th>
        <th>Book Name</th>
        <th>Status</th>
      </tr>
    </thead>
    <% if @details.count>0 %>
      <% @details.each do|detail| %>
  			<tbody>
  	      <tr>
  	        <td><%= detail.book_id %></td>
  	        <td><%= detail.issue_date.strftime("%d %b,%Y") %></td>
  	        <td><%= detail.book.name %></td>
            <% if detail.act_recieved_date == nil %>
              <td>Pending</td> 
            <% else %>
              <td>Submitted</td>
            <% end %> 
  	      </tr>
  	    </tbody>
  		<% end %>
    <% end %>
  </table>
</div>
