<h1> user info </h1>
<div>
	<strong>Roll no.</strong>
	<%= @student.id %>
</div>
<div>
	<strong>Name:</strong>
	<%= @student.name %>
</div>
<div>
	<strong>Email:</strong>
	<%= @student.email %>
</div>
