<h3><STRONG><em><center>Active Issue</center></em></strong></h3>
<div class="table-responsive">          
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Roll no.</th>
        <th>Issue Date</th>
        <th>Expected Return</th>
        <th>Option</th>
      </tr>
    </thead>
    <% @active_issue_details.each do|detail| %>
			<tbody>
	      <tr>
	        <td><%= detail.student_id %></td>
	        <td><%= detail.issue_date.strftime("%d %b,%Y") %></td>
	        <td><%= detail.exp_recieved_date.strftime("%d %b,%Y") %></td>
	        <td><%= link_to 'Return',  edit_issue_detail_path(detail) %></td>
	      </tr>
	    </tbody>
		<% end %>
  </table>
</div>
