<div class="container" >
	<div class="row">
		<div class="col-sm-6" >
			<div>
		    <%= image_tag @book.picture_url.to_s, class:"show-book" %>
			</div>
			<div>
				<strong><%= @book.name %></strong>
				<em>By</em>
				<strong><%= @book.author %></strong>
			  <% if @availability>0 %>
			  	<div>
				  	<strong><em> Available For Issue </em></strong>
				  </div>	
				<% end %>
			</div>
		</div>
	</div>
</div>
