<h1>Available books for issuing</h1>
	<% @books.each do|book| %>
	  <% if (book.no_of_copies.to_i)>0 %>
	 		<div>
				<strong> Name: </strong>
				<%= book.name %>
				<strong> Author: </strong>
				<%= book.author %>				
				<%= image_tag book.picture_url(:thumb).to_s %>
			</div>
			<br>
		<% end %>	
	<% end %>