@import "bootstrap-sprockets";
@import "bootstrap";



.custom1{
 text-color:black;
 padding:10px;
 margin-bottom:10px
}
.custom1:hover{
    color:white;
    background:black;
    border:none;

}
.custom-text{
	text-align:center;
}

.thumbnail{
  width:230px;
  height:230px;
  margin-right: 20px;
  margin-left: 60px;
}
.img{
	hieght:140px;
	width:1300px;
  margin-top: -20px;
}
.root{
  color: bisque;
  position:absolute;
}
.form-control{
  width:20%;
}

.top-right{
  position: absolute;
  top: 235px;
  left: 38%;
  font-size: 154%;
  color: white;
}

.top-left {
  position: absolute;
  top: 235px;
  left: 27%;
  font-size: 154%;
  color: white;
}
.field{
  margin-bottom:5px
}
.show-book{
  width:250px;
  height:250;
}